body {
    font-family: Arial;
    margin: 40px;
}

li {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    cursor: grab;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

small {
    display: block;
    color: #666;
}

button {
    margin-left: 5px;
}